.card__container {
    width: auto;
    transition: transform .3s ease;
    cursor: pointer;
    background-color: #f7f7f7;
    padding: 25px 50px 30px;
    margin: auto;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 10px;
    -moz-box-shadow: 0 10px 8px -5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 10px 8px -5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 8px -5px rgba(0, 0, 0, 0.3);
}

.card:hover {
    transform: scale(1.1);
    transform-style: flat;
}

.card__title {
    font-weight: 800;
    font-size: 1.5rem;
}

.card__image {
    display: flex;
    /*Image zorgt voor problemen met Hamburger menu*/
    justify-content: flex-end;
    max-height: 100px;
    border-radius: 10px;
}
.card {
    overflow: revert;
    background: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease-out;
}
.card.expanded {
    width: 100%;
    height: 100%;
    transform: scale(1);
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-content {
    padding: 10px;
}
@media screen and (max-width: 1050px) {
    .btxcard{
        padding: 3rem 2rem;
    }
    .links-wrapper {
        display: none;

    }
    .nav-menu {
        margin-left: auto;

        display: flex;
    }
    .nav-menu-wrapper {
        align-content: center;
        width: min-content;
        height: max-content;
    }
}

@media screen and (max-width:  700px) {
    .btxcard {
        padding: 1rem 2rem;
    }
    .nav-menu-wrapper{

        align-items: center;
        width: min-content;
        height: max-content;
    }
}

@media screen and (max-width:  550px) {
    .btxcard {
        padding: 3rem 2rem;

    }
    .nav-button {
        display: none;
    }
    .nav-menu-wrapper {

        height: auto;
    }
    .nav-menu-wrapper-button {
        display: block;
    }
}
@media screen and (max-width:  400px) {
    .btxcard {
        padding: 4rem 2rem;

    }

    .nav-button {
        display: none;
    }
    .nav-menu-wrapper {

        height: auto;
    }
    .nav-menu-wrapper-button {
        display: block;
    }
}

