.header-title {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #61dafb;
}

.container-login {
    display: flex;
    padding-top: 2rem;
    justify-content: center;
    align-items: center;
}

.conatainer-social{
    display: flex;
    justify-content: center;
    align-items: center;
}

.links-instagram img {
    min-width: 10px;
    max-height: 30px;
    color: #333333;
}

.links-twitter img{
    min-width: 10px;
    max-height: 30px;
    color: #333333;
}
