.header-title {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #61dafb;
}

.container-login {
    display: flex;
    padding-top: 2rem;
    justify-content: center;
    align-items: center;
}

.conatainer-social{
    flex: 1;

    direction: revert;
    align-items: center;
    justify-items: center;
}

.links-instagram img {
    min-width: 20px;
    max-height: 80px;
    color: #333333;
}

.links-twitter img{
    min-width: 20px;
    max-height: 80px;
    color: #333333;
}
